<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rabbitblack.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{132,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,6},{132,250}}</string>
				<key>sourceSize</key>
				<string>{200,261}</string>
			</dict>

			<key>rabbitbrown.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{132,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,5},{132,251}}</string>
				<key>sourceSize</key>
				<string>{200,261}</string>
			</dict>

			<key>rabbitgray.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,250},{130,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,6},{130,249}}</string>
				<key>sourceSize</key>
				<string>{200,261}</string>
			</dict>

			<key>rabbitwhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{131,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,6},{131,249}}</string>
				<key>sourceSize</key>
				<string>{200,261}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>